<h3>Zen Data</h3>
  {{zenData}}


<div>
  <h3>Apple Data</h3>
  <ul ng-repeat="song in songData">
    <li>
      {{song.trackName}}
     </li>
  </ul>
</div>


<h3>Rails App Data</h3>
<ul ng-repeat="message in railsMessages">
  <li>
    {{message.name}}
  </li>
  <li>
    {{message.content}}
  </li>
</ul>


<p>CONFIRM: {{confirm}}</p>

<form role="form" >
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" ng-model="name" placeholder="name">
  </div>
  <div class="form-group">
    <label for="content">Message</label>
    <input type="text" class="form-control" name="content" ng-model="content" placeholder="message">
  </div>


  <button ng-click="sendPost()" type="submit" class="btn btn-default" >Submit</button>
</form>
